@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body{
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    margin: 0;
    color: white;

    text-align: center;

    font-family: 'Roboto', sans-serif;
    
    h1, h6{
        font-weight: 300;
    }
    
    h1{
        margin: 0;
        font-size: 3em;
        letter-spacing: 5px;
    }
    
    h6{
        margin: 0;

        a{
            color: white;
        }
    }
    
    #header{
        padding: 15px;
        background: rgba(0,0,0,0.3)

    }
}